body {
    padding: 0;
    margin: 0;
}

.navbar  {
  position: sticky; 
  display: flex;
  flex-direction: row;
  top: 0; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: calc(100px + 1rem);
}

.navbar div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar .excluded-data {
    flex-direction: row;
}

.navbar input:not(.replot) {
    width: 15em;
    height: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar li.save {
    display: inline;
    float: right;
    background: green;
}

.navbar li.enabled {
    background-color: green;
    border-style: solid;
    border-color: #333;
}

.navbar li.disabled {
    background-color: red;
    border-style: solid;
    border-color: #333;
}

#TICId {
    float: right;
    text-align: center;
    font-size: 1.5em;
    padding: 7px 8px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.img-parent {
    flex-grow: 1;
    display: grid;
    height: calc(100vh - 100px - 1.2rem);
    background-color: #f0f0f0;
    justify-content: start;
}

.img-area {
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.ticid_lists {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: calc(100vh - 100px - 1.2rem);
    flex-grow: 0;
    position: relative;
    oveflow: hidden
}

.replot {
    background-color: red; 
    height: 50%;
}

a.replot {
    color: #000;
    text-align: center;
    align-content: center;
}

.navbar label {
    color: white;
}
