.list-name {
    position: sticky; 
    top: 0; 
    background-color: white;
    text-align: center;
}

.selected {
    flex: 1 1 100px;
    overflow: scroll;
}

.list-container {
    flex: 1 1 100px;
    overflow: scroll;
}

#pending {
    flex: 3 3 100px;
    overflow: scroll;
}

.discarded {
}

.displayed {
    font-weight: bold;
    background-color: red;
}

a.rendered {
    color: purple;
    font-weight: bold;
}

a.review-disabled {
    text-decoration: line-through;
}
