{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/top_navbar.css' %}">
        <title>Select TIC IDs</title>
    </head>
    <body>
        <ul class="navbar">
            <li><a>Select</a></li>
            <li><a>Discard</a></li>
            <li><a>Skip</a></li>
            <li class="save"><a>Save</a></li>
        </ul>
        <div class="main">
            <div class="plots">
                Plots
            </div>
            <div class="ticid_lists">
                {% include "select_ticids/tic_list.html" with list_name="selected" list=selected %}
                {% include "select_ticids/tic_list.html" with list_name="pending" list=pending %}
                {% include "select_ticids/tic_list.html" with list_name="discarded" list=discarded %}
            </div>
        </div>
    </body>
</html>
