{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/main.css' %}">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/tic_lists.css' %}">
        <title>Select TIC IDs</title>
    </head>
    <body>
        <ul class="navbar">
            <li><a href="{% url 'decision' decision="select" displayed_ticid=displayed_ticid %}">Select</a></li>
            <li><a href="{% url 'decision' decision="discard" displayed_ticid=displayed_ticid %}">Discard</a></li>
            <li><a href="{% url 'decision' decision="skip" displayed_ticid=displayed_ticid %}">Skip</a></li>
        </ul>
        <div class="render_progress">
            <span style="width: {% widthratio render_progress.0 render_progress.1 100 %}%;">
                Render progress: {{ render_progress.0 }}/{{ render_progress.1 }}
            </span>
            <div class="progress-success" 
                 style="width: {% widthratio render_progress.0 render_progress.1 100 %}%">
            </div>
        </div>
        <div class="main">
            <div class="img-parent"> 
                <img id="main-image" src="data:image/png;base64,{{image}}"></img>
            </div>
            <div class="ticid_lists">
                {% include "select_ticids/tic_list.html" with list_name="selected" list=selected %}
                {% include "select_ticids/tic_list.html" with list_name="pending" list=pending %}
                {% include "select_ticids/tic_list.html" with list_name="discarded" list=discarded %}
            </div>
        </div>
    </body>
</html>
