{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/main.css' %}">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/tic_lists.css' %}">
        <link rel="stylesheet" 
              href="{% static 'select_ticids/css/progress_bar.css' %}">
        <title>Select TIC IDs</title>
    </head>
    <body>
        <ul class="navbar">
            {% for choice in decisions %}
            <li><a href="{% url review|add:'_decision' decision=choice|slugify displayed_ticid=displayed_ticid %}">{{ choice|title }}</a></li>
            {% endfor %}
        </ul>
        <div id="progress-with-label">
            <span style="width: {% widthratio render_progress.0 render_progress.1 100 %}%;">
                Render progress: {{ render_progress.0 }}/{{ render_progress.1 }}
            </span>
            <div class="progress-success" 
                 style="width: {% widthratio render_progress.0 render_progress.1 100 %}%">
            </div>
        </div>
        <div class="main">
            <div class="img-parent" style="grid-template-columns: {{ grid.columns }}; grid-template-rows: {{ grid.rows }};">
                {% include "./images.html" with images=images%}

            </div>
            <div class="ticid_lists">
                {% for state_images in by_state %}
                {% include "select_ticids/tic_list.html" with list_name=state_images.0 list=state_images.1 %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
