<div class="{{ list_name }}"> 
    <ul>
        {% for ticid in list %}
        <li
                {% if ticid.0 == displayed_ticid %}
                class="displayed"
                {% endif %}
            >
            <a href="{% url 'jump' displayed_ticid=ticid.0 %}" 
               {% if ticid.1 == 1 %}
               class="rendered"
               {% else %}
               not-rendered
               {% endif %}> TIC ID: {{ ticid }} 
            </a> 
        </li>
        {% endfor %}
    </ul>
</div>

